{% extends 'base_generic.html' %}

{% block title %}{{ restaurant.name }}{% endblock title %}

{% block content %}
{% block confirmation %}{% endblock confirmation %}
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      {% if restaurant.photo %}
      <img
        src="{{ restaurant.photo }}"
        class="d-block mx-lg-auto img-fluid"
        alt="{{ restaurant.name }}"
        width="700"
        height="500"
        loading="lazy"
      />
      {% endif %}
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
        {{ restaurant.name }}
      </h1>
      {% if restaurant.rating %}
      <p>{{ restaurant.rating }}/10</p>
      {% endif %}
      <p>{{ restaurant.address }}</p>
      <p class="lead">
      {% if user.is_staff %}
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="{% url 'speedfeed_app:restaurant_update' restaurant.id %}" class="btn btn-primary btn-lg px-4 me-md-2">
          Edit
        </a>
        <a href="{% url 'speedfeed_app:restaurant_delete' restaurant.id %}" class="btn btn-outline-secondary btn-lg px-4">
          Delete
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
